header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    box-shadow: 0 4px 4px -6px;
    background-color: var(--light);
}

.logo-items{
    cursor: pointer;
    max-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
}

.header-name{
    font-size: xx-large;
    font-weight: 600;
    color: var(--primary-color);
}

.nav-search{
    height: 2.5rem;
    width: 20rem;
}

::placeholder{
    padding-left: 1rem;
}

nav{
    display: flex;
    height: 2.5rem;
    align-items: center;
}

.nav-action-items{
    display: flex;
    align-items: center;
    width: 16rem;
    justify-content: space-around;
}

.nav-login-action{
    width: 6rem;
    background-color: var(--primary-color);
    color: var(--light);
    border-radius: 4px;
    padding: 4%;
    text-align: center;
}

.nav-login-action:hover {
    background-color: var(--primary-hover);
}

.nav-saved-action, .nav-playlist-action, .nav-history-action, .nav-liked-action{
    position: relative;
}

.badge{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 62.5rem;
    background-color: var(--info);
}

.badge-icon{
    position: absolute;
    left: 70%;
    top: -50%;
    transform: (-50%, -50%);
    white-space: nowrap;
    border-radius: 10rem;
    color: var(--light);
    background-color: var(--primary-color);
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.35rem 0.25rem;
    text-align: center;
    line-height: 0.5;
}

.burger{
    display: none;
}

.burger .line1, .line2, .line3{
    width: 1.5rem;
    height: 3px;
    background-color: var(--dark);
    margin: 5px;
}

@media screen and (max-width: 1024px){
    .nav-search{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    nav{
        display: none;
    }

    .burger{
        display: block;
    }
}